<h1>beers</h1>
<div>
    <% beersFromApi.forEach(element => { %>
    <ul>
        <li><%- element.name  %></li>
        <li><img src=<%- element.image_url %> alt=""></li>
        <li><%- element.description  %></li>
        <li><%- element.tagline  %></li>
    </ul>
    <% }) %>
</div>
